.fancybox-content {
  padding: 32px 32px 25px;

  @media (max-width: 576.98px) {
    padding: 32px 24px;
  }
}

.dialog {
  max-width: 370px;
  width: 100%;

  @media (max-width: 576.98px) {
    max-width: 335px;
  }

  &-title {
    margin-bottom: 4px;
    font-size: 28px;
    font-weight: 700;
    line-height: 31px;
  }

  &-subtitle {
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }

  &-form {
    &__input {
      margin-bottom: 8px;
    }

    &__btn {
      margin-bottom: 18px;
    }
  }

  &-privacy {
    font-size: 11px;
    font-weight: 400;
    line-height: 17px;

    a {
      text-decoration: underline;

      &:hover {
        color: inherit;
      }
    }
  }
}