.table {
  margin-bottom: 0;
  color: var(--color-black);

  tr {
    &:nth-child(2n) {
      background: var(--color-light-gray);
    }

    th {
      border: none;
      padding: 9px 0 10px;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;

      &:nth-child(1n) {
        padding-left: 32px;

        @media (max-width: 576.98px) {
          padding-left: 20px;
        }
      }

      &:nth-child(2n) {
        @media (max-width: 576.98px) {
          // padding-right: 15px;
        }
      }
    }
  }
}